{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="card m-3">

    <h5 class="card-header mygreen-color white-text text-center py-4">
        <strong>change password</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
        {% if form.errors %} {% for field in form %} {% for error in field.errors %}
        <div class="red-text m-0 mb-1 alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <div class="red-text m-0 mb-1 alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endif %}


        <!-- Form -->
        <form class="text-center" method="POST" action="{% url 'account_change_password' %}">

            <!-- Email -->
            {% csrf_token %}
            {% for field in form %}
            <div class="md-form">
                <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" class="form-control">
                {% if field.html_name == 'password1' %}
                <label for="{{ field.id_for_label }}">New Password</label>
                {% elif field.html_name == 'password2' %}
                <label for="{{ field.id_for_label }}">Confirm Password</label>
                {% else %}
                <label for="{{ field.id_for_label }}">Old Password</label>
                {% endif %}
            </div>
            {% endfor %}
            <!-- Sign in button -->
            <button class="btn btn-outline-mygreen btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Change
                password</button>

            <!-- Register -->
            <p>Not a member?
                <a href="{% url 'account_signup' %}">Register</a>
            </p>
        </form>
        <!-- Form -->

    </div>

</div>
{% endblock %}