{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout_responsive.css' %}">
{% endblock %}
{% block content %}
<!-- Home -->

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll"
        data-image-src="{% static 'images/checkout.jpg' %}" data-speed="0.8"></div>
    <div class="home_container">
        <div class="home_content">
            <div class="home_title">Add Product</div>
            <div class="breadcrumbs">
                <ul class="d-flex flex-row align-items-centFer justify-content-start">
                    <li><a href="index">Home</a></li>
                    <li><a href="cart.html">Account</a></li>
                    <li>Add Product</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Checkout -->
<div class="checkout">
    <div class="section_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div
                        class="checkout_container d-flex flex-xxl-row flex-column align-items-start justify-content-start">
                        <!-- Billing -->
                        <div class="billing checkout_box">
                            <div class="checkout_title">Please Provide Product Details: </div>
                            <div class="checkout_form_container">
                                <form method="POST" id="checkout_form" enctype="multipart/form-data"
                                    class="checkout_form md-form">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    {% if field.html_name == 'category' %}
                                    <div class="md-form">
                                        <div class="md-form">
                                            <select name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="mdb-select md-form colorful-select dropdown-success">
                                                <option selected>Category</option>
                                                {% for name, value in form.fields.label.choices %}
                                                <option value="{{ name }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    {% elif field.html_name == 'sub_category' %}
                                    <div class="md-form">
                                        <div class="md-form">
                                            <select name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="mdb-select md-form colorful-select dropdown-success">
                                                <option selected>Sub Category</option>
                                                {% for name, value in form.fields.label.choices %}
                                                <option class="font-weight-bold" value="{{ name }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                    {% elif field.html_name == 'label' %}
                                    <div class="md-form">
                                        <select name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="mdb-select md-form colorful-select dropdown-success">
                                            <option selected>Label (Optional)</option>
                                            {% for name, value in form.fields.label.choices %}
                                            <option value="{{ name }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% elif field.html_name == 'discount_price' %}
                                    <div class="md-form">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}">discount price(Optional)</label>
                                    </div>
                                    {% else %}
                                    <div class="md-form">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}">{{ field.html_name }}</label>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                            <div>
                                <strong class="black-text font-weight-bold">Please Upload Some Images of the Product:
                                </strong>
                            </div>
                            {{ formset.management_form }}
                            {% for field in formset %}
                            <div class="md-form">
                                <div class="file-field">
                                    <div class="btn btn-rounded aqua-gradient btn-sm float-left">
                                        <span>choose file</span>
                                        {% if forloop.counter < 3 %}
                                        <input required type="file" name="form-{{ forloop.counter }}-image"
                                            accept="image/*" id="{{ field.id_forlabel }}">
                                        {% else %}
                                        <input type="file" name="form-{{ forloop.counter }}-image" accept="image/*"
                                            id="{{ field.id_forlabel }}">
                                        {% endif %}
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload your file">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Order Text -->
                    <div class="order_text">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit.
                        Proin
                        pharetra temp or so dales. Phasellus sagittis auctor gravida. Integ er
                        bibendum
                        sodales arcu id te mpus. Ut consectetur lacus.</div>

                    <button type='submit' class="checkout_button trans_200"><a>Add Product</a></button>
                </div>
            </div>
        </div>
        </form>


    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/checkout.js' %}"></script>
<script type="text/javascript" src="{%static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<!-- MDB select -->
<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>
{% endblock %}