{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout_responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll"
		data-image-src="{% static 'images/checkout.jpg' %}" data-speed="0.8"></div>
	<div class="home_container">
		<div class="home_content">
			<div class="home_title">Checkout</div>
			<div class="breadcrumbs">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li><a href="index">Home</a></li>
					<li><a href="cart.html">Your Cart</a></li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Checkout -->
<div class="checkout">
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div
						class="checkout_container d-flex flex-xxl-row flex-column align-items-start justify-content-start">

						<!-- Billing -->
						<div class="billing checkout_box">
							<div class="checkout_title">Billing Address</div>
							<div class="checkout_form_container">
								<form action="#" id="checkout_form" class="checkout_form">
									<div class="row">
										<div class="col-lg-6">
											<!-- Name -->
											<label for="checkout_name">First Name*</label>
											{{ form.first_name }}
										</div>
										<div class="col-lg-6">
											<!-- Last Name -->
											<label for="checkout_last_name">Last Name*</label>
											{{ form.last_name }}
										</div>
									</div>
									<div>
										<!-- Company -->
										<label for="checkout_company">Company</label>
										{{ form.company }}
									</div>
									<div>
										<!-- Country -->
										<label for="country">Country*</label>
										<select name="country" id="countryId"
											class="dropdown_item_select checkout_input countries order-alpha"
											require="required">
											<option value="">Select Country...</option>
										</select>
									</div>
									<div>
										<!-- State -->
										<label for="state">State*</label>
										<select name="state" id="stateId"
											class="dropdown_item_select checkout_input states order-alpha"
											require="required">
											<option value="">Select State...</option>
										</select>
									</div>
									<div>
										<!-- Address -->
										<label for="checkout_address">Address*</label>
										{{ form.address1 }}

										{{ form.address2 }}
									</div>
									<div>
										<!-- Zipcode -->
										<label for="checkout_zipcode">Zipcode*</label>
										{{ form.zip_code }}
									</div>
									<div>
										<!-- Phone no -->
										<label for="checkout_phone">Phone no*</label>
										{{ form.phone }}
									</div>
									<div>
										<!-- Email -->
										<label for="checkout_email">Email Address*</label>
										{{ form.email }}
									</div>
									<div class="checkout_extra">
										<ul>
											<li
												class="billing_info d-flex flex-row align-items-center justify-content-start">
												<label class="checkbox_container">
													{{ form.terms }}
													<span class="checkbox_mark"></span>
													<span class="checkbox_text">Terms and conditions</span>
												</label>
											</li>
											<li
												class="billing_info d-flex flex-row align-items-center justify-content-start">
												<label class="checkbox_container">
													{{ form.newsletter }}
													<span class="checkbox_mark"></span>
													<span class="checkbox_text">Subscribe to our
														newsletter</span>
												</label>
											</li>
										</ul>
									</div>
							</div>
						</div>
						<!-- Cart Total -->
						<div class="cart_total">
							<div class="cart_total_inner checkout_box">
								<div class="checkout_title">Cart total</div>
								<ul class="cart_extra_total_list">
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Subtotal</div>
										<div class="cart_extra_total_value ml-auto">$29.90</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Shipping</div>
										<div class="cart_extra_total_value ml-auto">Free</div>
									</li>
									<li class="d-flex flex-row align-items-center justify-content-start">
										<div class="cart_extra_total_title">Total</div>
										<div class="cart_extra_total_value ml-auto">$29.90</div>
									</li>
								</ul>

								<!-- Payment Options -->
								<div class="payment">
									<div class="payment_options">
										<label class="payment_option clearfix">Paypal
											<input type="radio" name="radio">
											<span class="checkmark"></span>
										</label>
										<label class="payment_option clearfix">Cash on delivery
											<input type="radio" name="radio">
											<span class="checkmark"></span>
										</label>
										<label class="payment_option clearfix">Credit card
											<input type="radio" name="radio">
											<span class="checkmark"></span>
										</label>
										<label class="payment_option clearfix">Direct bank transfer
											<input type="radio" checked="checked" name="radio">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>

								<!-- Order Text -->
								<div class="order_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Proin pharetra temp or so dales. Phasellus sagittis auctor gravida. Integ er
									bibendum sodales arcu id te mpus. Ut consectetur lacus.</div>

								<button type='submit' class="checkout_button trans_200"><a>place order</a></button>
								</div>
							</div>
						</div>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/checkout.js' %}"></script>
<script src="https://geodata.solutions/includes/countrystatecity.js"></script>
{% endblock %}