{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
{% endblock %}

{% block content %}
<div class="home">

	<!-- Home Slider -->
	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">

			<!-- Slide -->
			<div class="owl-item">
				<div class="background_image" style="background-image:url(/static/images/home_slider_1.jpg)">
				</div>
				<div class="home_content_container">
					<div class="home_content">
						<div class="home_discount d-flex flex-row align-items-end justify-content-start">
							<div class="home_discount_num">30</div>
							<div class="home_discount_text">Discount on the</div>
						</div>
						<div class="home_title">New Collection</div>
						<div class="button button_1 home_button trans_200"><a href="categories">Shop
								NOW!</a></div>
					</div>
				</div>
			</div>

			<!-- Slide -->
			<div class="owl-item">
				<div class="background_image" style="background-image:url(/static/images/home_slider_1.jpg)">
				</div>
				<div class="home_content_container">
					<div class="home_content">
						<div class="home_discount d-flex flex-row align-items-end justify-content-start">
							<div class="home_discount_num">20</div>
							<div class="home_discount_text">Discount on the</div>
						</div>
						<div class="home_title">New Collection</div>
						<div class="button button_1 home_button trans_200"><a href="categories">Shop
								NOW!</a></div>
					</div>
				</div>
			</div>

			<!-- Slide -->
			<div class="owl-item">
				<div class="background_image" style="background-image:url(/static/images/home_slider_1.jpg)">
				</div>
				<div class="home_content_container">
					<div class="home_content">
						<div class="home_discount d-flex flex-row align-items-end justify-content-start">
							<div class="home_discount_num">20</div>
							<div class="home_discount_text">Discount on the</div>
						</div>
						<div class="home_title">New Collection</div>
						<div class="button button_1 home_button trans_200"><a href="categories">Shop
								NOW!</a></div>
					</div>
				</div>
			</div>

		</div>

		<!-- Home Slider Navigation -->
		<div class="home_slider_nav home_slider_prev trans_200">
			<div class=" d-flex flex-column align-items-center justify-content-center"><img
					src="{% static 'images/prev.png' %}" alt=""></div>
		</div>
		<div class="home_slider_nav home_slider_next trans_200">
			<div class=" d-flex flex-column align-items-center justify-content-center"><img
					src="{% static 'images/next.png' %}" alt=""></div>
		</div>

	</div>
</div>

<!-- Boxes -->
{% if messages %}
{% for message in messages %}
<div class="mt-2 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
	{{ message }}
	{{ message.tag }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}
{% endif %}

<div class="boxes">
	<div class="section_container">
		<div class="container">
			<div class="row">

				<!-- Box -->
				<div class="col-lg-4 box_col">
					<div class="box">
						<div class="box_image"><img src="{% static 'images/box_1.jpg' %}" alt=""></div>
						<div class="box_title trans_200"><a href="categories">summer collection</a></div>
					</div>
				</div>

				<!-- Box -->
				<div class="col-lg-4 box_col">
					<div class="box">
						<div class="box_image"><img src="{% static 'images/box_2.jpg' %}" alt=""></div>
						<div class="box_title trans_200"><a href="categories">eyewear collection</a></div>
					</div>
				</div>

				<!-- Box -->
				<div class="col-lg-4 box_col">
					<div class="box">
						<div class="box_image"><img src="{% static 'images/box_3.jpg' %}" alt=""></div>
						<div class="box_title trans_200"><a href="categories">basic pieces</a></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Categories -->

<div class="categories">
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="categories_list_container">
						<ul class="categories_list d-flex flex-row align-items-center justify-content-start">
							<li><a href="categories">new arrivals</a></li>
							<li><a href="categories">recommended</a></li>
							<li><a href="categories">best sellers</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Products -->

<div class="products">
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="products_container grid">

						<!-- Product -->
						{% for every in object_list %}
						<div class="product grid-item {{ every.get_label_display }}">
							<div class="product_inner">
								<a href="{{ every.get_absolute_url }}">
									{% for each in every.itemimages_set.all %}
									{% if forloop.counter == 1 %}
									<div class="product_image">
										<img src="{{each.image.url}}" alt="">
										<div class="product_tag">{{ every.get_label_display }}</div>
									</div>
									{% endif %}
									{% endfor %}
									<div class="product_content text-center">
										<div class="product_title"><a
												href="{{ every.get_absolute_url }}">{{ every.title }}</a></div>
										{% if every.discount_price %}
										<div class="product_price">${{ every.discount_price }}
											<span><del>${{ every.price }}</del></span>
										</div>
										{% else %}
										<div class="product_price">${{ every.price }}</div>
										{% endif %}

								</a>

							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- PAGINATION -->
		{% if is_paginated %}
		<nav class="pagination-container">
			<div class="pagination">
				{% if page_obj.has_previous %}
				<a class="pagination-newer" href="?page={{ page_obj.previous_page_number }}">PREV</a>
				{% endif %}
				<span class="pagination-inner">
					<a href="#">1</a>
					<a class="pagination-active" href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
				</span>
				{% if page_obj.has_next %}
				<a class="pagination-older" href="?page={{ page_obj.next_page_number }}">NEXT</a>
				{% endif %}
			</div>
		</nav>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/customized.js' %}"></script>
{% endblock %}