{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/product_responsive.css' %}">
{% endblock %}

{% block content %}
<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll"
		data-image-src="{% static 'images/product_background.jpg' %}" data-speed="0.8"></div>
	<div class="home_container">
		<div class="home_content">
			<div class="home_title">Shop</div>
			<div class="breadcrumbs">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li><a href="index.html">Home</a></li>
					<li><a href="categories.html">{{ object.get_category_display }}</a></li>
					<li><a href="categories.html">{{ object.get_sub_category_display }}</a></li>
					<li>{{ object.title }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Products -->

<div class="product">

	<!-- Sorting & Filtering -->
	<div class="products_bar">
		<div class="section_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="products_bar_content d-flex flex-row align-items-center justify-content-start">
							<div class="product_categories">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li class="active"><a href="#">All</a></li>
									<li><a href="#">Hot Products</a></li>
									<li><a href="#">New Products</a></li>
									<li><a href="#">Sale Products</a></li>
									{% if object.user == request.user %}
									<li id="navbar-static-tools" class="dropdown">
										<a class="black-text dropdown-toggle" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">
											Tools</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-info"
											aria-labelledby="navbar-tools">
											<a class="dropdown-item d-xl-none" href="#">Sale Products</a>
											<a class="dropdown-item" href="{% url 'shop:edit_product' id=object.id %}">Edit this product</a>
											<a class="dropdown-item" href="{% url 'shop:delete_product' id=object.id %}">Delete this product</a>
										</div>
									</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Product Content -->
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col">

					<div
						class="product_content_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="product_content order-lg-1 order-2">
							<div class="product_content_inner">
								{% for each in object.itemimages_set.all %}
								{% if forloop.counter == 1 %}
								<div
									class="product_image_row d-flex flex-md-row flex-column align-items-md-end align-items-start justify-content-start">
									<div class="product_image_{{ forloop.counter }} product_image">
										<img src="{{ each.image.url }}" alt="{{ object.title }}">
									</div>
									{% elif forloop.counter == 2 %}
									<div class="product_image_{{ forloop.counter }} product_image"><img
											src="{{ each.image.url }}" alt="{{ object.title }}"></div>
								</div>
								{% elif forloop.counter == 3 %}
								<div class="product_image_row">
									<div class="product_image_{{forloop.counter}} product_image"><img
											src="{{ each.image.url }}" alt="{{ object.title }}"></div>
								</div>
								{% elif forloop.counter == 4 %}
								<div
									class="product_image_row d-flex flex-md-row flex-column align-items-start justify-content-start">
									<div class="product_image_{{ forloop.counter }} product_image"><img
											src="{{ each.image.url }}" alt="{{ object.title }}"></div>
									{% elif forloop.counter == 5 %}
									<div class="product_image_{{ forloop.counter }} product_image"><img
											src="{{ each.image.url }}" alt="{{ object.title }}"></div>
								</div>
								{% endif %}
								{% endfor %}
								<div>
									<h1 class="p-2">product description:</h1>
									<h3 style="color: #414b56;" class="mx-4 px-2 py-2">
										{{ object.description }}
									</h3>
								</div>
							</div>
						</div>
						<div class="product_sidebar order-lg-2 order-1">
							<form action="#" id="product_form" class="product_form">
								<div class="product_name">{{ object.title }}</div>
								{% if object.discount_price %}
								<div class="product_price">${{ object.discount_price }}
									<span><del
											style="font-size: medium; opacity: 0.50; ">${{ object.price }}</del></span>
								</div>
								{% else %}
								<div class="product_price">${{ object.price }}</div>
								{% endif %}
								<div class="product_color">Color: <span>Brown</span></div>
								<div class="product_size">
									<div class="product_size_title">Select Size</div>
									<div class="product_size_list">
										<ul>
											<li class="size_available">
												<input type="radio" id="radio_1" name="product_radio"
													class="regular_radio radio_1">
												<label for="radio_1">35</label>
											</li>
											<li class="size_available">
												<input type="radio" id="radio_2" name="product_radio"
													class="regular_radio radio_2">
												<label for="radio_2">36</label>
											</li>
											<li class="size_available">
												<input type="radio" id="radio_3" name="product_radio"
													class="regular_radio radio_3">
												<label for="radio_3">37</label>
											</li>
											<li class="size_available">
												<input type="radio" id="radio_4" name="product_radio"
													class="regular_radio radio_4">
												<label for="radio_4">38</label>
											</li>
											<li>
												<input type="radio" id="radio_5" name="product_radio"
													class="regular_radio radio_5" disabled>
												<label for="radio_5">39</label>
											</li>
											<li>
												<input type="radio" id="radio_6" name="product_radio"
													class="regular_radio radio_6" disabled>
												<label for="radio_6">40</label>
											</li>
										</ul>
									</div>
								</div>
								{% if messages %}
								{% for message in messages %}
								<div class="mt-2 alert alert-{{ message.tags }} alert-dismissible fade show"
									role="alert">
									{{ message }}
									{{ message.tag }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								{% endfor %}
								{% endif %}
								<button class="cart_button trans_200"><a href="{{ object.get_cart_url }}">add to
										cart</a></button>
								<button class="delete_cart_button trans_200"><a
										href="{{ object.remove_from_cart_url }}">remove from cart</a></button>
								<div class="similar_products_button trans_200"><a href="/categories">see similar
										products</a></div>
							</form>
							<div class="product_links">
								<ul class="text-center">
									<li><a href="#">See guide</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Returns</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/product.js' %}"></script>
{% endblock %}